/* Space out content a bit */
body {
  padding-bottom: 20px;
}

div {
    border: 1px solid black;
}
/*-------------------------*/

.view {
  border: 2px solid blue;
}

.side-nav-bar {
  border: 2px solid blue;
}

/* Custom page header */
.header {
  min-width: 700px;
  background-color: #666;
  height: 150px;
  color: #FFF;
  border: 2px solid red;
  width: 100%;
  z-index: 100;
}

.logo {
  border: 2px solid green;
  height: 100px;
  width: 200px;
}

.login {
    border: 2px solid yellow;
    float: right;
}


/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
  padding-left: 15px;
  padding-right: 15px;
}
/**/
.sticky {
  position: fixed;
}

.unsticky {
  position: absolute;
}